
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.logo{
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: normal;
}

.shadow-class{
    box-shadow: none !important;
}





.nav_items{
  appearance: button;
  background-color: #a6776a;
  background-image: none;
  border: 1px solid #CE9C90;
  border-radius: 4px;
  color:aliceblue;
  box-shadow: #000 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

