@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poly:ital@0;1&display=swap');

.btn{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn:hover{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.custom_svg:hover{
  transform: scale(1.5);
  color: black;
  transition: transform 0.3s  ease-out;
}


.font-times-new-roman{
  font-family:'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
}

.lato-font {
  font-family: "Lato", sans-serif;
  font-style: normal;
}


.shadow-class{
    box-shadow: none !important;
}

.nav_items{
  appearance: button;
  background-color: #a6776a;
  background-image: none;
  border: 1px solid #CE9C90;
  border-radius: 4px;
  color:aliceblue;
  box-shadow: #000 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.nav_menu:hover{
  background-color: #F2F2F2;
  color: #222222;
}

